body {
    background-color: #f4f4f4;
    color: #333333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.header {
    background-color: #333333;
    color: #f4f4f4;
    #padding: 20px;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.navbar {
    font-size: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #85144b;
}

h1 {
    font-size: 48px;
    margin-top: 100px;
}

p {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.active{
    background-color: red;
}

.button {
    background-color: #FF4136;
    border: none;
    color: white;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-top: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #85144b;
}
